# 1. import library

In [1]:
import numpy as np
import pandas as pd

# 2. import data

In [2]:
df = pd.read_csv('0 Data/raw_data.csv')
df.shape

(58693, 24)

In [3]:
df.columns

Index(['ID', 'Day', 'Incidence', 'Brand', 'Quantity', 'Last_Inc_Brand',
       'Last_Inc_Quantity', 'Price_1', 'Price_2', 'Price_3', 'Price_4',
       'Price_5', 'Promotion_1', 'Promotion_2', 'Promotion_3', 'Promotion_4',
       'Promotion_5', 'Sex', 'Marital status', 'Age', 'Education', 'Income',
       'Occupation', 'Settlement size'],
      dtype='object')

# 3. demographics

In [4]:
df = df[['Sex', 'Marital status', 'Age', 'Education', 'Income', 'Occupation', 'Settlement size']]
df.shape

(58693, 7)

In [5]:
df.corr()

,Sex,Marital status,Age,Education,Income,Occupation,Settlement size
Sex,1.000000,0.458189,-0.118534,0.198966,-0.085287,-0.077456,-0.206278
Marital status,0.458189,1.000000,-0.115696,0.399945,0.085560,0.103237,0.054435
Age,-0.118534,-0.115696,1.000000,0.680265,0.376582,0.178169,0.203453
Education,0.198966,0.399945,0.680265,1.000000,0.356288,0.197765,0.218504
Income,-0.085287,0.085560,0.376582,0.356288,1.000000,0.711717,0.493181
Occupation,-0.077456,0.103237,0.178169,0.197765,0.711717,1.000000,0.567780
Settlement size,-0.206278,0.054435,0.203453,0.218504,0.493181,0.567780,1.000000

# 4. scaling

In [6]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Sex,58693.0,0.385889,0.486809,0.0,0.0,0.0,1.0,1.0
Marital status,58693.0,0.393113,0.488446,0.0,0.0,0.0,1.0,1.0
Age,58693.0,38.793962,12.052447,18.0,30.0,36.0,46.0,75.0
Education,58693.0,1.101579,0.652499,0.0,1.0,1.0,1.0,3.0
Income,58693.0,121841.644319,40643.740678,38247.0,95541.0,117971.0,138525.0,309364.0
Occupation,58693.0,0.774198,0.663247,0.0,0.0,1.0,1.0,2.0
Settlement size,58693.0,0.655904,0.794162,0.0,0.0,0.0,1.0,2.0

In [7]:
df['Age'] = (df['Age'] - df['Age'].min()) / (df['Age'].max() - df['Age'].min())
df['Income'] = (df['Income'] - df['Income'].mean()) / df['Income'].std()

# 5. export data

In [8]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Sex,58693.0,3.858893e-01,0.486809,0.000000,0.000000,0.000000,1.000000,1.000000
Marital status,58693.0,3.931133e-01,0.488446,0.000000,0.000000,0.000000,1.000000,1.000000
Age,58693.0,3.648063e-01,0.211446,0.000000,0.210526,0.315789,0.491228,1.000000
Education,58693.0,1.101579e+00,0.652499,0.000000,1.000000,1.000000,1.000000,3.000000
Income,58693.0,-1.187246e-15,1.000000,-2.056766,-0.647102,-0.095233,0.410478,4.613807
Occupation,58693.0,7.741979e-01,0.663247,0.000000,0.000000,1.000000,1.000000,2.000000
Settlement size,58693.0,6.559045e-01,0.794162,0.000000,0.000000,0.000000,1.000000,2.000000

In [9]:
df.to_csv('0 Data/clean_data1.csv')
df.shape

(58693, 7)