# 1. import library

In [1]:
import numpy as np
import pandas as pd

# 2. import data

In [2]:
df = pd.read_csv('0 Data/raw_data.csv')
df.shape

(58693, 24)

In [3]:
df.columns

Index(['ID', 'Day', 'Incidence', 'Brand', 'Quantity', 'Last_Inc_Brand',
       'Last_Inc_Quantity', 'Price_1', 'Price_2', 'Price_3', 'Price_4',
       'Price_5', 'Promotion_1', 'Promotion_2', 'Promotion_3', 'Promotion_4',
       'Promotion_5', 'Sex', 'Marital status', 'Age', 'Education', 'Income',
       'Occupation', 'Settlement size'],
      dtype='object')

# 3. Y & demographics

In [4]:
df = df[['Incidence', 'Sex', 'Marital status', 'Age', 'Education', 'Income', 'Occupation', 'Settlement size']]
df.shape

(58693, 8)

In [5]:
X = df[['Sex', 'Marital status', 'Age', 'Education', 'Income', 'Occupation', 'Settlement size']]
Y = df['Incidence']
X.corr()

,Sex,Marital status,Age,Education,Income,Occupation,Settlement size
Sex,1.000000,0.458189,-0.118534,0.198966,-0.085287,-0.077456,-0.206278
Marital status,0.458189,1.000000,-0.115696,0.399945,0.085560,0.103237,0.054435
Age,-0.118534,-0.115696,1.000000,0.680265,0.376582,0.178169,0.203453
Education,0.198966,0.399945,0.680265,1.000000,0.356288,0.197765,0.218504
Income,-0.085287,0.085560,0.376582,0.356288,1.000000,0.711717,0.493181
Occupation,-0.077456,0.103237,0.178169,0.197765,0.711717,1.000000,0.567780
Settlement size,-0.206278,0.054435,0.203453,0.218504,0.493181,0.567780,1.000000

# 4. Y

In [6]:
df['Incidence'].value_counts()

0    44055
1    14638
Name: Incidence, dtype: int64

# 5. export data

In [7]:
df.to_csv('0 Data/clean_data2.csv')
df.shape

(58693, 8)